services:
  auto-sign-in:
    build: .
    container_name: auto-sign-in
    env_file:
      - .env                      # 加载第一份环境变量
    environment:
      - TZ=Asia/Shanghai
      - CRON_SCHEDULE=11 9 * * *
      - RUN_ON_STARTUP=false
    logging:
      driver: json-file
      options:
        max-size: "50m"
        max-file: "3"
    restart: unless-stopped
# 如果需要
#  auto-sign-in-xxx:
#    build: .
#    container_name: auto-sign-in-xxx
#    env_file:
#      - .env.xxx              # 加载第二份环境变量
#    environment:
#      - TZ=Asia/Shanghai
#      - CRON_SCHEDULE=13 9 * * *
#      - RUN_ON_STARTUP=false
#    logging:
#      driver: json-file
#      options:
#        max-size: "50m"
#        max-file: "3"
#    restart: unless-stopped
